/* ----------------------------------< SCSS VARIABLES >----------------------------------*/
/* background variables */
$bg: rgb(255, 255, 255);
$bg-sidebar: rgb(245,247,249);
$bg-navbar: rgb(255, 255, 255);
$bg-navbar-header: rgb(255, 255 ,255);

/* sidebar variables */
$width-sidebar: 300px;
$delay-sidebar-toggle: 0ms;

/* font variables */
$font-colour-navbar: rgb(95,95,95);
$font-colour-mcw: rgb(57,70,78);

/* button variables */
$general-spacer: 20px;
$button-bar-width: 200px;
$button-bg-color: #0d5287;
$button-bg-hover-color: #0585e8;
$button-text-padding: 14px;
$button-text-color: white;
$button-height: 22px;
$button-text-size: 14px;


body {
    margin-top: 50px !important;
    margin-left: 30px !important;
    background-color: $bg;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    color: $font-colour-mcw; 
}
  
.navbar-default {
    background-color: $bg-navbar;
    margin-left: $width-sidebar;
}
  
/* ----------------------------------< MSB (Main Side-Bar) >----------------------------------*/
.msb {
    width: $width-sidebar;
    background-color: $bg-sidebar;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid rgb(221, 221, 221);
    width: $width-sidebar;

    .navbar {
      border: none;
      margin-left: 0;
      background-color: inherit;
    }
    .navbar-header {
      width: 100%;
      border-bottom: 1px solid rgb(231, 231, 231);
      background: $bg-navbar-header;

      .navbar-brand {
            color: rgb(0, 0, 0);
            &:hover { color: rgb(46, 145, 250); }
        }
    }
    .navbar-nav {
      .panel {
        border: 0 none;
        box-shadow: none;
        margin: 0;
        background: inherit;
      }
      li {
        display: block;
        width: 100%;
        
        a {
          padding: 10px;
          color: $font-colour-navbar;
        }
      }
    }
    .nb {
      padding-top: 5px;
      padding-left: 10px;
      margin-bottom: 30px;
      overflow: hidden;
      
    }
  }

  /*sb: sidebar*/
  /*nv: nav*/
  ul.nv,
  ul.ns {
    position: relative;
    padding: 0;
    list-style: none;  
  }
  
  .nv {  
    li {
      display: block;
      position: relative;
      
      &::before {
        clear: both;
        content: "";      
        display: table;
      }
      a {
        color: rgb(68,68,68);
        padding: 10px 25px;
        display: block;
        vertical-align: middle;
      }
    }
    /*ns: nav-sub*/
    .ns {
      li {
        a {
          padding: 10px 50px;
        }
      }
    }
    
  }

  .side-menu-container ul li {
    .panel-body {
        padding: 0 !important;
    }
    a {
        border-bottom: 1px solid rgb(217, 217, 217);
        &:hover {
            background: rgb(231, 231, 231) !important;
            color: rgb(0, 0, 0) !important;
        }
    }

    div div ul li {
        a {
            margin-left: 10px;
            &:hover {
                background: rgb(255, 255, 255) !important;
                color: rgb(0, 0, 0) !important;
            }
        }
        background:  rgb(255, 255, 255) !important;
    }
  }

/* ----------------------------------<Homepage grids>----------------------------------*/
div.grid-item {
    background-color: rgb(238, 238, 238);
    width: 300px;
    height: 300px;
    transition: transform 0.5s;
    border-radius: 10px;
    margin: 1%;
    float: left;
}
div.grid-item:hover {
    transform: scale(0.98);
}

/* ----------------------------------<TABLE SYLING>----------------------------------*/
table {
    caption {
        padding: .5em 0;
    }
    .dataTable th,
    .dataTable td {
        white-space: nowrap;
    }
}


/* ----------------------------------<MCW STYLING>----------------------------------*/
.mcw {
    margin-left: $width-sidebar;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    
    /*content view*/
    .cv {
    }
    a:hover {
        color: rgb(30, 255, 0);
        text-decoration: none;
    }
  }
  

/* ----------------------------------<CUSTOM SCROLLBAR>----------------------------------*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* ----------------------------------<BUTTONS>----------------------------------*/
.button-bar {
  padding: $general-spacer * 2;
}

/* General Button */
/* -------------- */
.button {
  position: relative;
  margin: 0;
  padding-left: $button-text-padding;
  padding-right: $button-text-padding;
  padding-top: ($button-text-padding / 5);
  padding-bottom: ($button-text-padding / 5);
  background: $button-bg-color;
  color: $button-text-color;
  font-size: $button-text-size;
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.button:hover {
  background: $button-bg-hover-color;
  color: rgb(255, 255, 255) !important;
}

/* Arrow Buttons */
.next::after,
.prev::after { 
  border-style: solid; 
}

/* Next Button */
.next::after {
  right: -$button-height;
  border-width: $button-height / 2;
  border-color: transparent transparent transparent $button-bg-color;
}
.next:hover::after {
  border-left-color: $button-bg-hover-color;
}

/* Prev Button */
.prev::after {
  left: -$button-height;
  border-color: transparent $button-bg-color transparent transparent;
  border-width: $button-height / 2;
}
.prev:hover::after {
  border-right-color: $button-bg-hover-color;
}

/* ----------------------------------<Globals>----------------------------------*/
    a,
  a:focus,
  a:hover {
   text-decoration: none;
  }
  
  .inbox {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    
    ul, li {
      margin: 0;
      margin-left: 20px;
      padding: 0;
    }
    ul {
      li {
        a {
          display: block;
          padding: 10px 20px;
        }
      }
    }
  }
  .msb, .mnb {
      -moz-animation: slidein $delay-sidebar-toggle forwards;
      -o-animation: slidein $delay-sidebar-toggle forwards;
      -webkit-animation: slidein $delay-sidebar-toggle forwards;
      animation: slidein $delay-sidebar-toggle forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;  
  }
  .mcw {
      -moz-animation: bodyslidein $delay-sidebar-toggle forwards;
      -o-animation: bodyslidein $delay-sidebar-toggle forwards;
      -webkit-animation: bodyslidein $delay-sidebar-toggle forwards;
      animation: bodyslidein $delay-sidebar-toggle forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;  
  }
  body.msb-x {
  
    .mcw, .mnb {
      margin-left: 0;
  -moz-animation: bodyslideout $delay-sidebar-toggle forwards;
      -o-animation: bodyslideout $delay-sidebar-toggle forwards;
      -webkit-animation: bodyslideout $delay-sidebar-toggle forwards;
      animation: bodyslideout $delay-sidebar-toggle forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    .msb {
      -moz-animation: slideout $delay-sidebar-toggle forwards;
      -o-animation: slideout $delay-sidebar-toggle forwards;
      -webkit-animation: slideout $delay-sidebar-toggle forwards;
      animation: slideout $delay-sidebar-toggle forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
  
    /* Slide in animation */
    @-moz-keyframes slidein {
      0% {
        left: -$width-sidebar;
      }
      100% {
        left: 0;
      }
    }
    @-webkit-keyframes slidein {
      0% {
        left: -$width-sidebar;
      }
      100% {
        left: 0;
      }
    }
    @keyframes slidein {
      0% {
        left: -$width-sidebar;
      }
      100% {
        left: 0;
      }
    }
    @-moz-keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -$width-sidebar;
      }
    }
    @-webkit-keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -$width-sidebar;
      }
    }
    @keyframes slideout {
      0% {
        left: 0;
      }
      100% {
        left: -$width-sidebar;
      }
    }
  
    @-moz-keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        margin-left: $width-sidebar;
      }
    }
    @-webkit-keyframes bodyslidein {
      0% {
        left: 0;
      }
      100% {
        left:0
      }
    }
    @keyframes bodyslidein {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: $width-sidebar;
      }
    }
    @-moz-keyframes bodyslideout {
      0% {
        margin-left: $width-sidebar;
      }
      100% {
        margin-right: 0;
      }
    }
    @-webkit-keyframes bodyslideout {
      0% {
        margin-left: $width-sidebar;
      }
      100% {
        margin-left: 0;
      }
    }
    @keyframes bodyslideout {
      0% {
        margin-left: $width-sidebar;
      }
      100% {
        margin-left: 0;
      }
    }